
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>This is a simple Flask app that is part of my Python + Data portfolio.</p>

    <h2>Projects in this portfolio</h2>
    <ul>
      <li>Khansole Academy (math practice game in Python)</li>
      <li>Data Cleaning (Pandas – students scores)</li>
      <li>Web Scraper (Books to Scrape – prices & titles)</li>
      <li>Flask App (this web interface)</li>
    </ul>

    <p><a href="/about">About this app</a></p>
  </body>
</html>